{% extends "layout.html" %}


{% block content %}

	<h3 class="title">TODAY October 29th</h3>


	<ul class="list">
		{% for list in lists %}


			<li class="item">
				<div class="wrap-middle"> 	  
					<div class="middle">
						<h4>
							<a href="{{ path( 'list_edit', {'listId': list.id} ) }}">{{ list.title }}</a>
							<a href="#author" class="author">{{ list.name }}</a>
						</h4>
					</div>
				</div>
				<div class="left">
					<span class="votes">2.8 k</span>
					<span class="label-votes">votes</span>
				</div>	    
				<div class="right">
					<span class="glyphicon glyphicon-comment"></span>
					<span class="comment">56</span>
				</div>      
			</li>


		{% endfor %}
	</ul>






{% endblock %}
